

.container {
    width: 900px;
    /*    height: 620px;*/
    position: relative;
    margin: 0 auto;
    top: 10px;
}

.container .search-pro {
    width: 860px;
    height: 100px;
    margin-top: 10px;
    margin: 0 auto;
    padding: 0 20px;
    background: #fff;
    border: 1px solid rgba(187, 187, 187, 1);
}

.container .content-pro {
    width: 900px;
    min-height: 530px;
    background: #fff;
}

/*ul-title*/

.container .content-pro ul:first-child {
    width: 900px;
    height: 40px;
    line-height: 40px;
    background: rgb(245, 245, 245);
    /* border: 1px solid rgba(187, 187, 187, 1); */
}

.container .content-pro ul:first-child li {
    float: right;
    /* width: 29px; */
    height: 40px;
    padding: 0 55px;
    line-height: 40px;
    text-align: center;
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    font-family: Roboto;
}

.container .content-pro ul:first-child li:nth-child(1) {
    float: left;
    /* width: 59px; */
    height: 40px;
    line-height: 40px;
    margin-left: -27px;
    /*	background: pink;*/
}

/*ul-product*/

.container .content-pro .list_pro {
    width: 900px;
    height: 100px;
    border: 1px solid rgba(187, 187, 187, 1);
}

.container .content-pro .list_pro li {
    float: left;
}

.container .content-pro .list_pro li label input {
    top: 50%;
    transform: translateY(300%);
    margin-left: 25px;
}

.container .content-pro .list_pro li img {
    width: 70px;
    height: 70px;
    top: 50%;
    transform: translateY(25%);
    margin-left: 10px;
}

.container .content-pro .list_pro li div {
    top: 50%;
    /* border: 1px solid rgba(187, 187, 187, 1); */
    transform: translateY(100%);
    font-size: 14px;
    /*	text-align: center;*/
}

.container .content-pro .list_pro li .name-pro {
    width: 210px;
    height: 30px;
    line-height: 30px;
    margin-left: 46px;
}

.container .content-pro .list_pro li .price_pro,
.container .content-pro .list_pro li .acount_pro,
.container .content-pro .list_pro li .all_pro {
    width: 100px;
    height: 30px;
    line-height: 30px;
    /* margin-left: 70px; */
}

.container .content-pro .list_pro li .price_pro {
    width: 160px;
    margin-left: 10px;
    color: red;
    font-weight: bolder;
}

.container .content-pro .list_pro li .operate-pro {
    float: right;
    height: 52px;
    margin-left: 10px;
    /* width: 160px; */
    top: 50%;
    transform: translateY(40%);
    border: none;
}

.container .content-pro .list_pro li .acount_pro {
    width: 120px;
}

.container .content-pro .list_pro li .all_pro {
    width: 140px;
    color: red;
    font-weight: bolder;
}

.container .content-pro .list_pro li .operate-pro a {
    width: 70px;
    height: 26px;
    line-height: 26px;
    display: block;
    font-size: 14px;
    margin-top: 11px;
}

.container .content-pro .list_pro li .operate-pro a:first-child {
    text-align: left;
}

.container .content-pro>div {
    width: 900px;
    height: 200px;
    border: 1px solid rgba(187, 187, 187, 1);
}

/*ul-payMoney*/

.container>ul:last-child {
    margin-top: 10px;
    width: 900px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: 1px solid rgba(187, 187, 187, 1);
}

.container>ul:last-child li .payMoney {
    width: 200px;
    height: 40px;
    border-right: 1px solid rgba(187, 187, 187, 1);
    margin-left: -509px;
}

.container>ul:last-child li {
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.container>ul:last-child li:nth-child(1) {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
    border-left: 1px solid rgba(187, 187, 187, 1);
    background-color: tomato;
    font-size: 18px;
    font-weight: bolder;
}

.container>ul:last-child li:nth-child(3) {
    float: left;
    margin-left: 20px;
    color: rgb(207, 3, 3);
    font-weight: bold;
}

.footer .footer-container {
    margin-top: 15px;
}
span#payMon {
    color: red;
    font-size: 14px;
}
span#yen{
	color: red;
    font-size: 14px;
}
input#confirmBuy {
    background-color: tomato;
}