.mui-mbar-tabs .quick_links_wrap {
    position: fixed;
    z-index: 9;
    right: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    -webkit-transition: width linear .4s;
    -moz-transition: width linear .4s;
    -ms-transition: width linear .4s;
    transition: width linear .4s;
}
.quick_links_panel {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: #595656;
}

.quick_links {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -190px;
    *: ;
    margin-top: -220px;
    z-index: 2;
    color: white;
    font-size: 12px;
}
.quick_links li {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
img.imguser {
    width: 40px;
    border-radius: 18px;
}
.quick_links li a {
    color: white;
    width: 40px;
}
.quick_links li:hover{
	background-color: rgb(207, 3, 3);
	cursor: pointer;
}
.quick_links li a:hover{
	color: white;
}
li.user:hover {
    background-color: #595656;
    cursor: pointer;
}
.quick_links li .no-login{
	color: white;
    writing-mode: vertical-rl;
    padding-left: 12px;
    padding-top: 20px;
}