<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flowershop.dao.OrderMapper">
<insert id="generateorder" parameterType="order">
      insert into [Order] values(#{orderId},#{NickName},#{orderDate},#{TotalPrice},#{ConsigneeName},#{ConsigneeTel},#{ConsigneeAddress},#{Status})
</insert>
<select id="getorderlist" parameterType="String" resultType="order">
      select * from [Order] where NickName=#{NickName} order by OrderDate desc
</select>
<select id="getorderdetail" parameterType="String" resultType="order">
      select * from [Order] where orderId=#{orderId}
</select>
<update id="modstatus" parameterType="order">
      update [Order] set Status=#{Status} where orderId=#{orderId}
</update>
<select id="updatenickname" parameterType="userinfo">
       update [Order] set NickName=#{Password} where NickName=#{NickName}
</select>
<delete id="deleteorder" parameterType="String">
      delete from [Order] where orderId=#{orderId}
</delete>
</mapper>